.navbar {
  background: #545454;
  margin-bottom: 60px;
}

.navbar__sitename:link, .navbar__sitename:visited {
  color: white;
  padding-left: 20px;
  text-decoration: none;
}

.navbar__span {
  color: white;
  padding-left: 5px;
}

.navbar__github {
  color: white;
  margin-left: 50px;
}

.navbar__linkedin {
  color: white;
  margin-left: 10px;
}
