.comment-form {
  margin: 10px 40px 60px 40px;
}

.comment-form__button--submit {
  margin-left: 20px;
}

.comment-form__button--disabled {
  background-color: #cccccc !important;
  margin-left: 20px;
}
