.post {
  border: 1px solid #e1e1e1;
  margin: 20px 40px 0 40px;
}

.post__votes {
  font-size: xx-large;
  padding-left: 20px;
}

.post__details {
  color: #bdbdbd;
  margin-left: 0px !important;
  padding-top: 5px;
}

.post__title:link, .post__title:visited {
  color: black;
  font-size: large;
  text-decoration: none;
}

.post__language {
  text-decoration: none;
}

.post__comments {
  border-left: 1px solid black;
  margin-left: 5px;
  padding-left: 5px;
}

.post__link--edit {
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post__link--edit:hover {
  color: black;
}

.post__link--delete {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
