.post__details {
  color: #e6c200;
  margin-left: 0px !important;
}

.post__info {
  margin-top: 5px;
}

.post__language {
  text-decoration: none;
}

.post__title:link, .post__title:visited {
  color: black;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.post__comments {
  border-left: 1px solid black;
  margin-left: 5px;
  padding-left: 5px;
}

.post__link--edit {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post__link--delete {
  color: red;
  margin-left: 10px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
