.comment__details {
  color: #e6c200;
}

.comment__body {
  display: block;
}

.comment__info {
  margin-top: 5px;
}

.comment__link--edit {
  color: #1eaedb;
  cursor: pointer;
}

.comment__link--delete {
  color: red;
  cursor: pointer;
  margin: 0 10px 0px 10px;
  text-decoration: none;
}
