.comment__details {
  color: #bdbdbd;
}

.comment__link--edit {
  color: blue;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comment__link--delete {
  margin-left: 10px;
  color: red;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
