.vote-box {
  background-color: white;
  border: 1px solid #e1e1e1;
  margin: 20px 40px 0 40px;
}

.vote-box__votes {
  font-size: xx-large;
  padding-left: 20px;
}

.vote-box__upvote {
  cursor: pointer;
  margin-left: 15px;
  text-decoration: none;
}

.vote-box__downvote {
  cursor: pointer;
  margin-right: 15px;
  text-decoration: none;
}
