.vote-box {
  background-color: white;
  border: 2px solid #e1e1e1;
  margin: 20px 40px 0 40px;
  padding-top: 10px;
}

.vote-box__votes {
  font-size: xx-large;
  padding-left: 20px;
}

.vote-box__upvote {
  cursor: pointer;
  margin-left: 15px;
  text-decoration: none;
}

.vote-box__downvote {
  cursor: pointer;
  margin-right: 15px;
  text-decoration: none;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
