html, body, #root {
  background-color: #e1e1e1;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

:focus {
 outline: 0;
}

/* div { */
/*   border: 1px solid #ff0000; */
/* } */
