.post-form {
  margin: 40px 40px 0px 40px;
}

.post-form__button--submit {
  margin-left: 20px;
}

.post-form__button--disabled {
  background-color: #cccccc !important;
  margin-left: 20px;
}

.post-form__snippet {
  height: 200px;
}
